# Path: .gitignore
# OS metadata
.DS_Store

# Virtual Environments
.venv/
env/
venv/
node_modules/

.env

# Frontend Assets (Ignore audio source and DB to save repo space)
/web/public/app-content/content.db
/web/public/app-content/*_version.json
/web/public/app-content/audio/
/web/public/app-content/audio.zip

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Backend Data
/data/*
!/data/content/
/data/content/*
!/data/content/content_source.tsv
/output/

# Build artifacts
build/
dist/
*.egg-info/

/tmp/*

