# Virtual Environments
.venv/
env/
venv/
node_modules/

.env

# Audio files (Locally available for build, but not in git source)
web/public/data/audio/
web/data/audio/
*.mp3

# Python cache
__pycache__/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# OS metadata
.DS_Store

/data/

# Generated output
output/
/web/data/
!/web/data/tts_rules.json

# Build artifacts
build/
dist/
*.egg-info/
