/* Header */
header {
    height: var(--header-height);
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(253, 251, 247, 0.95);
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid var(--border-light);
    transition: border-color 0.3s;
}

header h1 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary-color); /* Updated to primary color */
    margin: 0;
    line-height: 1.2;
}

.subtitle {
    font-size: 0.8rem;
    color: var(--text-muted);
    font-style: italic;
    margin: 0;
    font-weight: 300;
    margin-top: 2px;
}
