/* Path: web/css/base/_fonts.css */

/* * Noto Sans Mono (Variable Font)
 * Custom Subset: Basic Latin + Vietnamese + Pali
 */
@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/assets/fonts/noto-sans-mono/noto-sans-mono-pali-viet.woff2') format('woff2');
  /* Dải Unicode gộp tối ưu */
  unicode-range: U+0000-00FF, U+0100-0103, U+0110-0111, U+0128-012B, U+0168-016B, U+01A0-01A1, U+01AF-01B0, U+0300-0309, U+0323, U+0329, U+1E0C-1E0D, U+1E36-1E37, U+1E40-1E47, U+1E6C-1E6D, U+1EA0-1EF9, U+2000-206F, U+20AB;
}

