/* Path: web/css/base/_reset.css */
/* Reset & Base */
* { box-sizing: border-box; margin: 0; padding: 0; }
body {
    font-family: var(--font-main);
    background-color: var(--bg-body);
    color: var(--text-main);
    line-height: 1.7;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
    font-weight: 300;
}

/* Loại bỏ hiệu ứng chớp xanh (tap highlight) mặc định khi nhấn trên Android */
*,
*::before,
*::after {
    -webkit-tap-highlight-color: transparent;
}

/* Utility Classes */
.hidden {
    display: none !important;
}
