/* Path: web/style.css */
/* --- IMPORTS --- */

/* Base */
@import "css/base/_variables.css";
@import "css/base/_reset.css";

/* Components */
@import "css/components/_typography.css";
@import "css/components/_buttons.css";
@import "css/components/_segments.css";
@import "css/components/_forms.css";
@import "css/components/_modal.css";

/* Layout */
@import "css/layout/_sidebar.css";
@import "css/layout/_header.css";
@import "css/layout/_container.css";
@import "css/layout/_footer_controls.css";
@import "css/layout/drawer/_drawer_container.css";
@import "css/layout/drawer/_drawer_footer.css";

/* Modules */
@import "css/modules/_responsive.css";

html {
    filter: sepia(var(--sepia-val, 0));
}

